html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: darkblue;
}

.left-section {
  height: 100vh;
}

.center-section {
  border-right: 1.5px solid darkblue;
  border-left: 1.5px solid darkblue;
  padding: 1rem 3rem;
  height: 100%;
}

.right-section {
  height: 100vh;
}

.logo {
  height: 25vh;
  width: 100%;
  background-image: url(./assets/Tottenham-Hotspur-logo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 2rem 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

.event {
  width: 100%;
  height: 75vh;
}

.SignInUp {
  height: 45vh;
  border-bottom: 1.5px solid darkblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
}
.Profile {
  background-color: rgb(238, 238, 238);
  flex-direction: column;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.SignIn,
.SignUp {
  margin-top: 5rem;
}

.input-field {
  margin: 2rem 0;
}

.profile-image {
  padding: 0;
  margin: 0;
  background-color: #fff;
  width: 110px;
  height: 120px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.profile-image-profile {
  padding: 0;
  margin: 0;
  background-color: #fff;
  width: 100px;
  height: 120px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.avatar {
  background-image: url(./assets/avatar.png);
  padding: 0;
  margin: 0;
  background-color: #fff;
  width: 110px;
  height: 120px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.avatar-profile {
  background-image: url(./assets/avatar.png);
  padding: 0;
  margin: 0;
  background-color: #fff;
  width: 100px;
  height: 120px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-body {
  height: 100%;
}

.card-header {
  height: 85px;
}

.card-footer {
  background-color: rgb(238, 238, 238);
}

.noti-date {
  font-size: 13px;
}
